<div class="col-lg-12">
  <div class="shadow-lg rounded-lg d-flex bd-highlight p-3 mb-2 bg-primary text-white">
    <div class="p-2 flex-grow-1 bd-highlight text-capitalize font-weight-bold">{{userName}}</div>
    <div class="p-2 bd-highlight text-capitalize font-weight-bold" routerLink='/home'>Home</div>
    <div class="p-2 bd-highlight text-capitalize font-weight-bold" routerLink='/profile'>My Profile</div>
  </div>
</div>

<div class="col-lg-12">
    <div class="card shadow-lg rounded-lg d-flex bd-highlight p-3 mb-2">
      
    </div>
  </div>