<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand text-capitalize">Hi {{fullName}}</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <!-- <a routerLink="/home/{{userName}}" class="nav-item nav-link active">Home</a> -->
                <a routerLink="/profile/{{userId}}" class="nav-item nav-link">Profile</a>
                <a href="#" class="nav-item nav-link">Messages</a>
                <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-item nav-link">LogOut</a>
            </div>
        </div>
    </nav>
</div>

<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/images/direction-course.jpg" alt="First Slide" style="height: 300px; width: 100%;" >
                <div class="carousel-caption d-none d-md-block">
                    <h5>Direction</h5>
                    <p class="text-white bg-dark">A film director is a person who directs the making of a film...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/Cinematography-and-Film-Terms-Every-Filmmaker-and-DP-Needs-to-Know-Featured-StudioBinder.jpg" alt="Second Slide" style="height: 300px;  width: 100%;"> 
                <div class="carousel-caption d-none d-md-block">
                    <h5>Cinematography</h5>
                    <p>Cinematography is the act of capturing photographic images in space through the use of a number of controllable elements.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../assets/images/typewriter-2653187_960_720.jpg" alt="Third Slide" style="height: 300px;  width: 100%;">  
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-white bg-dark">Type Writer</h5>
                    <p class="text-white bg-dark" >A screenplay writer (also called screenwriter for short), scriptwriter or scenarist is a writer who practices the craft of screenwriting, writing screenplays on which mass media, such as films, television programs and video games, are based.</p>
                </div>
            </div>
        </div>
        <!-- Carousel controls -->
        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>